In [40]:
import requests
import pandas as pd

In [35]:
url = "https://raw.githubusercontent.com/owid/energy-data/master/owid-energy-data.csv"

In [37]:
req = requests.get(url)
url_content = req.content
csv_file = open('./data.csv', 'wb')
csv_file.write(url_content)
csv_file.close()

In [60]:
data = pd.read_csv("data.csv")

In [61]:
data

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22338,Zimbabwe,2017,ZWE,14236599.0,2.194784e+10,NaN,NaN,NaN,NaN,22.477,...,0.137,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22339,Zimbabwe,2018,ZWE,14438812.0,2.271535e+10,NaN,NaN,NaN,NaN,27.011,...,0.110,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22340,Zimbabwe,2019,ZWE,14645473.0,NaN,NaN,NaN,NaN,NaN,25.947,...,0.088,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22341,Zimbabwe,2020,ZWE,14862927.0,NaN,NaN,NaN,NaN,NaN,24.221,...,0.090,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22342,Zimbabwe,2021,ZWE,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
countries =["Italy","Morocco","Germany","Portugal","China","India","United States"]

In [70]:
data = data.set_index("country").T[countries].T.reset_index()

In [75]:
data = data.fillna(0)

In [76]:
data

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Italy,1900,ITA,33442744.0,1.099054e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,Italy,1901,ITA,33684844.0,1.123700e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,Italy,1902,ITA,33943753.0,1.151736e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,Italy,1903,ITA,34219691.0,1.171513e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,Italy,1904,ITA,34497872.0,1.201486e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,United States,2017,USA,325084736.0,1.759628e+13,0.202,0.825,1261.375,410.054,192.965,...,1.814,0.805,12.031,69.804,683.609,790.168,256.871,2102.865,5.970,2.648
850,United States,2018,USA,327096256.0,1.814065e+13,-1.325,-5.433,1237.008,404.621,189.027,...,2.114,0.932,7.222,45.081,728.691,842.020,275.422,2227.756,6.173,2.723
851,United States,2019,USA,329064896.0,0.000000e+00,2.780,11.250,1263.794,415.870,174.768,...,2.448,1.071,8.514,59.126,787.816,908.244,298.871,2394.106,6.775,2.965
852,United States,2020,USA,331002656.0,0.000000e+00,-9.029,-37.549,1142.955,378.321,165.255,...,3.082,1.410,14.214,108.672,896.488,1031.265,341.352,2708.401,7.967,3.645
853,United States,2021,USA,332915072.0,0.000000e+00,8.871,33.559,1237.193,411.880,166.649,...,3.753,1.675,12.378,107.278,1003.766,1152.256,383.603,3015.081,8.706,3.887